In [6]:
import os
import pandas as pd
import scipy.stats as st
import matplotlib.pyplot as plt

In [9]:
users_path = os.path.join("appdata", "users.csv")

users_csv = pd.read_csv(users_path)

users_csv.head()

            name                     email       phone
0       John doe  jackconsidine3@gmail.com  8476448892
1  Daryl Duhart         duhartdg@gmail.com  2123210570
2    osidfjoisfj        asdajios@gmail.com  2342341212
3        Djjshus          hahshs@gmail.com  5555555555
4       Droladan         surueue@gmail.com  4542754875

In [12]:
users_csv.dropna()

name     279
email    939
phone    939
dtype: int64